INSTALLING LIBRARIES/DEPENDENCIES NEEDED

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv

Uploading the dataset (.csv files)

In [3]:
employeeNumber = 'datasets/employment.csv'

Reading the datasets(.csv files)

In [4]:
employeeNumber = pd.read_csv(employeeNumber)

Renaming Column Names

In [6]:
employeeNumber.rename(columns={'year': 'Year','philippines': 'Philippines','capital': 'NCR','administrative': 'CAR','region': 'Region I','region_2': 'Region II','region_3': 'Region III',
                               'region_4': 'Region IV-A','region_5': 'Region IV-B'}, inplace=True)
employeeNumber

,Year,Philippines,Capital,Car,Region 1,Region 2,Region IV-A,Region IV-A,Region IV-B,region_6,region_7,region_8,region_9,region_10,region_11,region_12,region_13,region_14,armm
0,NaN,NaN,Region,Region,I,II,III,IV-A,IV-B,V,VI,VII,VIII,IX,X,XI,XII,XIII,NaN
1,2012.0,53144.0,7566,974,2870,2129,5548,6445,1459,3026,4380,3853,2453,1948,2481,2570,2286,1478,1680.00
2,2013.0,54388.0,7679,1003,2972,2010,5716,6665,1497,3113,4479,3971,2528,2027,2550,2523,2355,1515,1686.00
3,2014.0,55230.0,7363,990,3088,2012,6091,7052,1619,3104,4488,4215,2452,1972,2520,2611,2317,1450,1889.00
4,2015.0,56565.0,7509,1024,3142,2056,6227,7233,1655,3172,4593,4313,2536,2022,2597,2667,2387,1485,1948.00
5,2016.0,57848.0,7638,1051,3214,2108,6368,7415,1709,3244,4707,4381,2603,2072,2668,2718,2434,1532,1988.00
6,2017.0,59237.0,7764,1067.5,3315.5,2150,6530.75,7595.5,1772.75,3341.75,4813,4506,2657.5,2109.5,2736,2759.25,2512.75,1574,2031.25
7,2018.0,60717.0,7922,1105,3394,2192,6682,7808,1822,3420,4943,4619,2744,2183,2802,2822,2567,1608,2082.00
8,2019.0,61882.0,7979,1121,3467,2225,6828,7988,1875,3463,5073,4679,2777,2245,2874,2889,2640,1627,2131.00